
<h3>Профiлi користувачiв</h3>

    {{# filters }}
    <!-- Filters -->

    <ul class="nav nav-pills">

        {{# activate }}
        <li {{# active }}class="active"{{/ active }}>
            <a data-filter="activate" href="#">
                Активні {{# count }}({{ count }}){{/ count }}
            </a>
        </li>
        {{/ activate }}

        {{# inactive }}
        <li {{# active }}class="active"{{/ active }}>
            <a data-filter="inactive"href="#">
                Неактивні <!-- {{# count }}({{ count }}){{/ count }} -->
            </a>
        </li>
        {{/ inactive }}

        {{# review }}
        <li {{# active }}class="active"{{/ active }}>
        <a data-filter="review" href="#">
            Переглянутi <!-- {{# count }}({{ count }}){{/ count }} -->
        </a>
        </li>
        {{/ review }}

        {{# import }}
        <li {{# active }}class="active"{{/ active }}>
            <a data-filter="import" href="#">
                Імпортовані {{# count }}({{ count }}){{/ count }}
            </a>
        </li>
        {{/ import }}

        {{# sms }}
        <li {{# active }}class="active"{{/ active }}>
            <a data-filter="sms" href="#">
                SMS {{# count }}({{ count }}){{/ count }}
            </a>
        </li>
        {{/ sms }}

        {{# email }}
        <li {{# active }}class="active"{{/ active }}>
            <a data-filter="email" href="#">
                E-mail {{# count }}({{ count }}){{/ count }}
            </a>
        </li>
        {{/ email }}

    </ul>
    {{/ filters }}


    {{# paginator }}
    <!-- Pager -->
    <ul class="pager">

        {{# prev }}
        <li class="previous">
            <a href="/accounts/page/{{ prev }}">
                &larr; Попередні
            </a>
        </li>
        {{/ prev }}

        {{# page }}
        <li class="">
            <strong>
                Сторiнка {{ page }}
            </strong>
        </li>
        {{/ page }}

        {{# next }}
        <li class="next">
            <a href="/accounts/page/{{ next }}">
                Наступні &rarr;
            </a>
        </li>
        {{/ next }}

    </ul>
    {{/ paginator }}

    {{# list.length }}
    <!-- List -->
    <table class="table table-striped">
        <thead>
        <tr>
            <!--<th>Дата</th>-->
            <th>Активований</th>
            <th>П.I.Б.</th>
            <th>Дата народження</th>
            <th>Телефон</th>
            <th>Фото</th>
            <th class="center">Дія</th>
        </tr>
        </thead>

        <tbody>

        {{# list }}
        <tr data-item="{{ _id }}">
            <td>
                <span data-active="true" class="{{^ active }}hide{{/ active }}">✔</span>
                <span data-active="false" class="{{# active }}hide{{/ active }}"><i>Ні</i></span>
            </td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.day }}-{{ profile.month }}-{{ profile.year }}</td>
            <td>{{ profile.phone }}</td>
            <td>
                {{# profile.photo }}
                    <!-- todo: Passport image -->
                    <!--<a href="#" onclick="javascript:window.open( '/uploads/{photo}', 'Фото документiв', 'width=800,height=600,location=no,toolbar=no,menubar=no,directories=no,status=no' ); return false;">Фото</a>-->
                    <!-- <img src="{{ profile.photo }}" data-action="photo" data-account="{{ _id }}" style="cursor: pointer" width="40" /> -->
                    <a href="#" data-action="photo" data-account="{{ _id }}">фото</a>
                {{/ profile.photo }}
                {{^ profile.photo }}
                    <i>Немає</i>
                {{/ profile.photo }}
            </td>
            <td class="right">

                <!-- Actions -->
                <div data-group="review" class="btn-group {{^ buttons.review }}hide{{/ buttons.review }}">
                    <a class="btn"
                       data-action="change" data-account="{{ _id }}">Змінити</a>
                    <a class="btn btn-success"
                        data-action="allow" data-account="{{ _id }}">Дозволити</a>
                    <a class="btn btn-danger deny"
                       data-action="deny" data-account="{{ _id }}">Заборонити</a>
                </div>

                <!-- Actions -->
                <div data-group="allow" class="btn-group {{^ buttons.allow }}hide{{/ buttons.allow }}">
                    <a class="btn"
                       data-action="change" data-account="{{ _id }}">Змінити</a>
                    <a class="btn btn-success"
                       data-action="allow" data-account="{{ _id }}">Дозволити</a>
                </div>

                <!-- Actions -->
                <div data-group="deny" class="btn-group {{^ buttons.deny }}hide{{/ buttons.deny }}">
                    <a class="btn"
                       data-action="change" data-account="{{ _id }}">Змінити</a>
                    <a class="btn btn-danger deny"
                       data-action="deny" data-account="{{ _id }}">Заборонити</a>
                </div>
            </td>
        </tr>
        {{/ list }}

    </table>

    {{# paginator }}
    <!-- Pager -->
    <ul class="pager">

        {{# prev }}
        <li class="previous">
            <a href="/accounts/page/{{ prev }}" class="previous">
                &larr; Попередні
            </a>
        </li>
        {{/ prev }}

        {{# page }}
        <li class="">
            <strong>
                Сторiнка {{ page }}
            </strong>
        </li>
        {{/ page }}

        {{# next }}
        <li class="next">
            <a href="/accounts/page/{{ next }}" class="next">
                Наступні &rarr;
            </a>
        </li>
        {{/ next }}

    </ul>
    {{/ paginator }}

    {{/ list.length }}

{{^ list.length }}
<h3>Немає записів</h3>
{{/ list.length }}



    <!-- Modal: Photo -->
    <div id="modalPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="myModalLabel">Photo preview:</h3>
        </div>-->
        <div class="modal-body">

            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>

            <img id="modalPhotoImage" width="100%" class="hide" />
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <!-- Modal: Profile form -->
    <div id="modalProfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Profile Form:</h3>
        </div>
        <div class="modal-body">

            <form id="modalProfileForm" class="form-horizontal" >

                <!-- name -->
                <div class="control-group name">
                    <label class="control-label" for="name">П. I. Б.</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="П. I. Б.">
                    </div>
                </div>

                <!-- phone -->
                <div class="control-group phone">
                    <label class="control-label" for="phone">Мобiльний телефон</label>
                    <div class="controls">
                        <input type="text" id="phone" name="phone" placeholder="0 (00) 000-00-00">
                    </div>
                </div>

                <!-- birth date -->
                <div class="control-group birth day">
                    <label class="control-label" for="day">День народження</label>
                    <div class="controls">
                        <input type="text" id="day" name="day" placeholder="День">
                    </div>
                </div>
                <div class="control-group birth month">
                    <label class="control-label" for="month">Мiсяць</label>
                    <div class="controls">
                        <select id="month" name="month" >
                            <option value="Місяць" disabled>Місяць</option>
                            <option value="0">Січень</option>
                            <option value="1">Лютий</option>
                            <option value="2">Березень</option>
                            <option value="3">Квітень</option>
                            <option value="4">Травень</option>
                            <option value="5">Червень</option>
                            <option value="6">Липень</option>
                            <option value="7">Серпень</option>
                            <option value="8">Вересень</option>
                            <option value="9">Жовтень</option>
                            <option value="10">Листопад</option>
                            <option value="11">Грудень</option>
                        </select>
                    </div>
                </div>
                <div class="control-group birth year">
                    <label class="control-label" for="year">Рiк</label>
                    <div class="controls">
                        <input type="text" id="year" name="year" placeholder="0000">
                    </div>
                </div>

                <!-- email -->
                <div class="control-group email">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="Email">
                    </div>
                </div>

                <!-- password -->
                <div class="control-group password">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>

            </form>


        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрити</button>
            <button id="submitForm" class="btn btn-primary">Зберегти</button>
        </div>
    </div>