<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Control panel</a>
            <div id="menu" class="nav-collapse collapse">

                <!-- Menu -->

            </div>
        </div>
    </div>
</div>

<div style="margin-top: 80px"></div>

<!-- Subhead -->
<header id="subhead" class="hide jumbotron subhead" id="overview" style="margin-top: 50px">
    <div class="container">
        <h1>Администрация</h1>
        <p class="lead">Управление настройками сайта</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div id="box" class="span12">

            <!-- Content box -->

        </div>
    </div>
</div>