<h3>Ваша думка про кент HD</h3>
	<div id="views" style="display:none;">
		<table class="table">
			<tr class="title">
				<th>Запитання</th>
				<th>Відповідь</th>
			</tr>
		</table>
	</div>
	<table class="table">
		<tr>
			<th>Ім'я</th>
			<th>Почта</th>
			<th>Переглянути</th>
			<th>Видалити</th>
		</tr>
		{{# thinks }}
		<tr>
			<td>{{ name }}</td>	
			<td>{{ email }}</td>	
			<td><a href="#" class="thinklist-view btn btn-success" _id="{{ _id }}">Переглянути</a></td>	
			<td><a href="#" class="thinklist-remove btn btn-danger" _id="{{ _id }}">Видалити</a></td>	
		</tr>
		{{/ thinks }}
	</table>